<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" CREATE="width=device-width, initial-scale=1.0">
    <title>Synaptix</title>
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div id = "home">
    <div id="loader">
        <h1>Think</h1>
        <h1>Create</h1>
        <h1>Innovate</h1>
    </div>
    <div id="fixed-image">

    </div>
    <div id="main">

        <div id="page1">
            <nav>
                <img src="/static/images/logo.png"
                    alt="">
                <div id="nav-part2">
                    <h4><a href="#">Home</a></h4>
                    <h4><a href="/technical">Technical events</a></h4>
                    <h4><a href="/non-technical">Non-Technical events</a></h4>
                    <h4><a href="/fun">Fun Events</a></h4>
                    <h4><a href="/register">Register</a></h4>
                </div>
                <h3>Menu</h3>
            </nav>
            <div id="center">
                <div id="left">
                    <h3>Synaptix AI: An immersive symposium featuring cutting-edge AI research, innovation, and industry trends.</h3>
                </div>
                <div id="right">
                    <h1>Synaptix <br>
                        Interactive <br>
                        Summit</h1>
                </div>

            </div>
            <div id="hero-shape">
                <div id="hero-1"></div>
                <div id="hero-2"></div>
                <div id="hero-3"></div>
            </div>
            <video autoplay loop muted src="/static/video/lapse.mp4"></video>
        </div>
        <div id="page2">
            <div id="moving-text">
                <div class="con">
                    <h1>THINK</h1>
                    <div id="gola"></div>
                    <h1>CREATE</h1>
                    <div id="gola"></div>
                    <h1>INNOVATE</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>THINK</h1>
                    <div id="gola"></div>
                    <h1>CREATE</h1>
                    <div id="gola"></div>
                    <h1>INNOVATE</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>THINK</h1>
                    <div id="gola"></div>
                    <h1>CREATE</h1>
                    <div id="gola"></div>
                    <h1>INNOVATE</h1>
                    <div id="gola"></div>
                </div>
            </div>
            <div id="page2-bottom">
                <h1>Spectrogenics is a cutting-edge technology company specializing in advanced spectroscopy solutions, offering precise analytical tools for industries like healthcare, environmental science, and material analysis.</h1>
                <div id="bottom-part2">
                    <img src="https://uploads-ssl.webflow.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15d1_Holding_thumb-p-500.jpg"
                        alt="">
                </div>
            </div>
            <div id="gooey">

            </div>
        </div>
        <div id="page3">
            <div id="elem-container">
                <div id="elem1" class="elem"
                    data-image="https://images.unsplash.com/photo-1701001308648-7b731a52b8d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>SPECTROGENICS 2023 :-</h2>
                </div>
                <div class="elem"
                    data-image="https://images.unsplash.com/photo-1700975928909-da4a46227a47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8">
                    <div class="overlay"></div>
                    <h2>TREASURE EVENT</h2>
                </div>
                <div class="elem"
                    data-image="https://images.unsplash.com/photo-1701077137611-9be394bf62f0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>WEB BLOGGING</h2>
                </div>
                <div class="elem"
                    data-image="https://images.unsplash.com/photo-1701014159309-4a8b84faadfe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>PRODUCT MARKETING</h2>
                </div>
                <div class="elem"
                    data-image="https://images.unsplash.com/photo-1700924546093-f914fd5b8814?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>E-SPORTS</h2>
                </div>
                <div class="elem"
                    data-image="https://images.unsplash.com/photo-1700601437860-e66da79cf6d2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OXx8fGVufDB8fHx8fA%3D%3D">
                    <div class="overlay"></div>
                    <h2>UI DESIGN</h2>
                </div>
            </div>
        </div>
        <div class="social-icons" style="margin-top: 20px; display: flex; justify-content: center; align-items: center;">
            <a 
              href="https://www.linkedin.com" 
              target="_blank" 
              rel="noopener noreferrer" 
              style="color: #fff; margin: 0 15px; transition: color 0.3s;">
              <i class="fab fa-linkedin" style="font-size: 30px;"></i>
            </a>
            <a 
              href="https://www.instagram.com" 
              target="_blank" 
              rel="noopener noreferrer" 
              style="color: #fff; margin: 0 15px; transition: color 0.3s;">
              <i class="fab fa-instagram" style="font-size: 30px;"></i>
            </a>
            <a 
              href="https://www.twitter.com" 
              target="_blank" 
              rel="noopener noreferrer" 
              style="color: #fff; margin: 0 15px; transition: color 0.3s;">
              <i class="fab fa-twitter" style="font-size: 30px;"></i>
            </a>
            <a 
              href="https://www.youtube.com" 
              target="_blank" 
              rel="noopener noreferrer" 
              style="color: #fff; margin: 0 15px; transition: color 0.3s;">
              <i class="fab fa-youtube" style="font-size: 30px;"></i>
            </a>
          </div>
          

        <div id="page5">

        </div>
        <div id="full-scr">
            <div id="full-div1">
                
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-div"></div>
        <h1>Synaptix</h1>
        <div class="footer-bottom"></div>
        <h2><center>Developed by  Mustafa - Yusuf - Yogiram - Thejas</center></h2>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="static/js/script.js"></script>
    </div>
</body>

</html>